<div class="container-fluid">
  <app-page-title title="Add Employee" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form name="clientsForm" [formGroup]="clientsForm" (ngSubmit)="onSubmit()" class="needs-validation">
            <div class="form-group position-relative mb-3">
              <label>Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="clientName" id="clientName" [ngClass]="{ 'is-invalid': submit && f.clientName.errors }" required />
              <div *ngIf="submit && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group position-relative mb-3">
              <label>Email <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="clientEmail" id="clientEmail" [ngClass]="{ 'is-invalid': submit && f.clientEmail.errors }" required />
              <div *ngIf="submit && f.clientEmail.errors" class="invalid-feedback">
                <div *ngIf="f.clientEmail.errors.required">This field is required.</div>
                <div *ngIf="f.clientEmail.errors.email">Email is invalid.</div>
              </div>
            </div>
            <div class="form-group position-relative mb-3">
              <label>Status <span class="text-danger">*</span></label>
            </div>
            <div class="custom-control custom-switch mb-2">
              <input type="checkbox" class="custom-control-input" formControlName="status" id="switchType" />
              <label class="custom-control-label" for="switchType">Active</label>
            </div>
            <br />
            <br />
            <button class="btn btn-primary" type="submit">Add</button>
            <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
