<div class="container-fluid">
  <app-page-title title="Edit Employee" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form name="clientsForm" [formGroup]="clientsForm" (ngSubmit)="onSubmit()" class="needs-validation">
            <div class="form-group position-relative mb-3">
              <label>Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="clientName" id="clientName" [ngClass]="{ 'is-invalid': submit && f.clientName.errors }" required />
              <div *ngIf="submit && f.clientName.errors" class="invalid-feedback">
                <div *ngIf="f.clientName.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group position-relative mb-3">
              <label>Email <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="clientEmail" id="clientEmail" [ngClass]="{ 'is-invalid': submit && f.clientEmail.errors }" required />
              <div *ngIf="submit && f.clientEmail.errors" class="invalid-feedback">
                <div *ngIf="f.clientEmail.errors.required">This field is required.</div>
                <div *ngIf="f.clientEmail.errors.email">Email is invalid.</div>
              </div>
            </div>
            <div class="form-group position-relative mb-3">
              <label>Status <span class="text-danger">*</span></label>
            </div>
            <div class="custom-control custom-switch mb-2">
              <input type="checkbox" class="custom-control-input" formControlName="status" id="switchType" />
              <label class="custom-control-label" for="switchType">Active</label>
            </div>
            <br />
            <br />
            <button class="btn btn-primary" type="submit">Save</button>
            <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p class="text-muted font-13 mb-4 text-right">
          <button type="button" class="btn btn-primary text-right" [routerLink]="['../lorries/', clientId, 'add']"><i class='uil uil-focus-add'></i> Add</button>
        </p>

        <div class="table-responsive">
          <table class="table table-striped mb-0">
              <thead>
                  <tr>
                      <th>Lorry Plate</th>
                      <th>Options</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lorry of lorries">
                  <td>{{ lorry.lorryPlate }}</td>
                  <td>
                    <a class="btn btn-outline-warning"><i class='uil uil-file-edit-alt'></i></a>
                    <a class="btn btn-outline-danger ml-2"><i class='uil uil-trash-alt'></i></a>
                  </td>
              </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
