<div id="wrapper">

    <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
    </app-topbar>

    <app-leftsidebar [sidebarType]="sidebarType"></app-leftsidebar>

    <div class="content-page">
        <div class="content">
            <!-- content -->
            <app-alert></app-alert>
            <router-outlet></router-outlet>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <!-- footer -->
        <app-footer></app-footer>
    </div>
</div>
