<!-- Footer Start -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        2020 &copy; <a href="https://www.dnc-automation.com" target="_blank">DNC Automation Sdn Bhd</a>. All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
<!-- end Footer -->
