<div class="container-fluid">
    <app-page-title title="Add Branch" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form name="branchesForm" [formGroup]="branchesForm" (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="form-group position-relative mb-3">
                <label>Branch <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="branchName" id="branchName" [ngClass]="{ 'is-invalid': submit && f.branchName.errors }" required />
                <div *ngIf="submit && f.branchName.errors" class="invalid-feedback">
                  <div *ngIf="f.branchName.errors.required">This field is required.</div>
                </div>
              </div>
              <br />
              <br />
              <button class="btn btn-primary" type="submit">Add</button>
              <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  