<div class="container-fluid">
  <app-page-title title="Edit Employee" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <form *ngIf="employeesForm" [formGroup]="employeesForm" (ngSubmit)="onSubmit()" class="needs-validation">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          
            <div class="row">
              <div class="col-12">
                <div class="form-group position-relative mb-3">
                  <label>Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="employeeName" id="employeeName" [ngClass]="{ 'is-invalid': submit && f.employeeName.errors }" required />
                  <div *ngIf="submit && f.employeeName.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeName.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label>Role <span class="text-danger">*</span></label>
                <ng-multiselect-dropdown
                    formControlName="role"
                    [placeholder]="'None Selected'"
                    [data]="roleList"
                    [settings]="roleSettings" 
                    [ngClass]="{ 'is-invalid': submit && f.role.errors }" 
                    required>
                </ng-multiselect-dropdown>
                <div *ngIf="submit && f.role.errors" class="invalid-feedback">
                  <div *ngIf="f.role.errors.required">This field is required.</div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Email <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submit && f.email.errors }" required />
                  <div *ngIf="submit && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">This field is required.</div>
                    <div *ngIf="f.email.errors.email">Email is invalid.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Branch <span class="text-danger">*</span></label>
                  <ng-multiselect-dropdown
                      formControlName="branchId"
                      [placeholder]="'None Selected'"
                      [data]="branchList"
                      [settings]="branchSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.branchId.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.branchId.errors" class="invalid-feedback">
                    <div *ngIf="f.branchId.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="employeeCode" id="employeeCode" [ngClass]="{ 'is-invalid': submit && f.employeeCode.errors }" required />
                  <div *ngIf="submit && f.employeeCode.errors" class="invalid-feedback">
                    <div *ngIf="f.employeeCode.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Date Joined <span class="text-danger">*</span></label>
                  <input type="text" formControlName="dateCreated" id="dateCreated" class="form-control" mwlFlatpickr dateFormat="Y-m-d" [convertModelValue]="true" [ngClass]="{ 'is-invalid': submit && f.dateCreated.errors }" required>
                  <div *ngIf="submit && f.dateCreated.errors" class="invalid-feedback">
                    <div *ngIf="f.dateCreated.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Date of Birth <span class="text-danger">*</span></label>
                  <input type="text" formControlName="dob" id="dob" class="form-control" mwlFlatpickr dateFormat="Y-m-d" [convertModelValue]="true" [ngClass]="{ 'is-invalid': submit && f.dob.errors }" required>
                  <div *ngIf="submit && f.dob.errors" class="invalid-feedback">
                    <div *ngIf="f.dob.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>NRIC <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="nric" id="nric"  mask="000000-00-0000" [ngClass]="{ 'is-invalid': submit && f.nric.errors }" required />
                  <div *ngIf="submit && f.nric.errors" class="invalid-feedback">
                    <div *ngIf="f.nric.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Gender <span class="text-danger">*</span></label>
                  <ng-multiselect-dropdown
                      formControlName="gender"
                      [placeholder]="'None Selected'"
                      [data]="genderList"
                      [settings]="genderSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.gender.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Department <span class="text-danger">*</span></label>
                  <ng-multiselect-dropdown
                      formControlName="departmentId"
                      [placeholder]="'None Selected'"
                      [data]="departmentList"
                      [settings]="departmentSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.departmentId.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.departmentId.errors" class="invalid-feedback">
                    <div *ngIf="f.departmentId.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Position <span class="text-danger">*</span></label>
                  <ng-multiselect-dropdown
                      formControlName="positionId"
                      [placeholder]="'None Selected'"
                      [data]="positionList"
                      [settings]="positionSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.positionId.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.positionId.errors" class="invalid-feedback">
                    <div *ngIf="f.positionId.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>H.O.D. <span class="text-danger">*</span></label>
                  <ng-multiselect-dropdown
                      formControlName="hod"
                      [placeholder]="'None Selected'"
                      [data]="employeeList"
                      [settings]="employeeSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.hod.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.hod.errors" class="invalid-feedback">
                    <div *ngIf="f.hod.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Employment <span class="text-danger">*</span></label>
                  <div class="custom-control custom-switch mb-2">
                      <input type="checkbox" class="custom-control-input" formControlName="employment" id="employment" >
                      <label class="custom-control-label" for="employment">Active</label>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Phone </label>
                  <input type="text" class="form-control" formControlName="phone" id="phone" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Mobile <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="mobile" id="mobile" [ngClass]="{ 'is-invalid': submit && f.mobile.errors }" required />
                  <div *ngIf="submit && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Address Line 1 <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="address1" id="address1" [ngClass]="{ 'is-invalid': submit && f.address1.errors }" required />
                  <div *ngIf="submit && f.address1.errors" class="invalid-feedback">
                    <div *ngIf="f.address1.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group position-relative mb-3">
                  <label>Address Line 2 </label>
                  <input type="text" class="form-control" formControlName="address2" id="address2" /> 
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <div class="form-group position-relative mb-3">
                  <label>City <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="city" id="city" [ngClass]="{ 'is-invalid': submit && f.city.errors }" required />
                  <div *ngIf="submit && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group position-relative mb-3">
                  <label>Postal Code <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" formControlName="postal" id="postal" mask="00000" [ngClass]="{ 'is-invalid': submit && f.postal.errors }" required />
                  <div *ngIf="submit && f.postal.errors" class="invalid-feedback">
                    <div *ngIf="f.postal.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group position-relative mb-3">
                  <label>State </label>
                  <ng-multiselect-dropdown
                      formControlName="stateId"
                      [placeholder]="'None Selected'"
                      [data]="stateList"
                      [settings]="stateSettings" 
                      [ngClass]="{ 'is-invalid': submit && f.stateId.errors }" 
                      required>
                  </ng-multiselect-dropdown>
                  <div *ngIf="submit && f.stateId.errors" class="invalid-feedback">
                    <div *ngIf="f.stateId.errors.required">This field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <br />
            <br />
            <button class="btn btn-primary" type="submit">Save</button>
            <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>

        </div>
      </div>
    </div>
  </div>

  </form>
</div>
