<div class="container-fluid">
    <app-page-title title="Edit Position" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form name="positionsForm" [formGroup]="positionsForm" (ngSubmit)="onSubmit()" class="needs-validation">
              <div class="form-group position-relative mb-3">
                <label>Position <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="positionName" id="positionName" [ngClass]="{ 'is-invalid': submit && f.departmepositionNamentName.errors }" required />
                <div *ngIf="submit && f.positionName.errors" class="invalid-feedback">
                  <div *ngIf="f.positionName.errors.required">This field is required.</div>
                </div>
              </div>
              <br />
              <br />
              <button class="btn btn-primary" type="submit">Save</button>
              <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  