<div class="container-fluid">
    <app-page-title title="Positions" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <p class="text-muted font-13 mb-4 text-right">
              <button type="button" class="btn btn-primary text-right" [routerLink]="['add']"><i class='uil uil-focus-add'></i> Add</button>
            </p>
  
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped mb-0">
                  <thead>
                      <tr>
                          <th>Position</th>
                          <th>Options</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let position of positions">
                          <td>{{ position.positionName }}</td>
                          <td>
                            <a class="btn btn-outline-warning" (click)="doEdit(position.positionId)"><i class='uil uil-file-edit-alt'></i></a>
                            <a class="btn btn-outline-danger ml-2" (click)="openModal(position.positionId)"><i class='uil uil-trash-alt'></i></a>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  