<div class="container-fluid">
  <app-page-title title="Add Department" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form name="departmentsForm" [formGroup]="departmentsForm" (ngSubmit)="onSubmit()" class="needs-validation">
            <div class="form-group position-relative mb-3">
              <label>Department Code <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="departmentCode" id="departmentCode" [ngClass]="{ 'is-invalid': submit && f.departmentCode.errors }" required />
              <div *ngIf="submit && f.departmentCode.errors" class="invalid-feedback">
                <div *ngIf="f.departmentCode.errors.required">This field is required.</div>
              </div>
            </div>
            <div class="form-group position-relative mb-3">
              <label>Department <span class="text-danger">*</span></label>
              <input type="text" class="form-control" formControlName="departmentName" id="departmentName" [ngClass]="{ 'is-invalid': submit && f.departmentName.errors }" required />
              <div *ngIf="submit && f.departmentName.errors" class="invalid-feedback">
                <div *ngIf="f.departmentName.errors.required">This field is required.</div>
              </div>
            </div>
            <br />
            <br />
            <button class="btn btn-primary" type="submit">Add</button>
            <button type="button" class="btn btn-secondary ml-1" [routerLink]="['../']"> Cancel</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
